/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize line-height. Cannot be changed from normal in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable input types in iOS */
  --webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button:focus:not(:-moz-focusring) {
  outline: none;
}

@font-face {
  font-family: "Gilroy Thin";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/font/gilroy/Gilroy-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/font/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/font/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/font/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/font/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/font/gilroy/Gilroy-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Thin";
  font-style: italic;
  font-weight: 100;
  src: url("../assets/font/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Light";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/font/gilroy/Gilroy-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/font/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/font/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/font/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/font/gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Black";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/font/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
}
.pricing__cards, .pricing__card, .pricing__card__list, .pricing__buttons, .features__container, .features__grid__item figure, .stats__container, .stats__details, .hero__buttons, .hero__visual, .accordion__summary, .form__field, .footer__navigation, .footer__icons__social, .footer__grid__item, .footer__legal ul, .nav, .nav__links, .nav__links li, .nav__links--mobile, .nav__links--mobile li, .nav__buttons, .nav__hamburger, .nav__mobile {
  display: flex;
}

.pricing__cards, .pricing__card, .pricing__card__list, .pricing__buttons, .features__container, .features__grid__item figure, .stats__container, .stats__details, .hero__buttons, .hero__visual, .accordion__summary, .form__field, .footer__navigation, .footer__icons__social, .footer__grid__item, .footer__legal ul, .nav, .nav__links, .nav__links li, .nav__links--mobile, .nav__links--mobile li, .nav__buttons, .nav__hamburger, .nav__mobile {
  flex-wrap: nowrap;
}

.blobs, .navbar, section,
footer {
  --padding-inline: 1.5rem;
  --content-max-width: 76rem;
  --layout-max-width: 90rem;
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.blobs > :not(.full-width), .navbar > :not(.full-width), section > :not(.full-width),
footer > :not(.full-width) {
  grid-column: content;
}

.blobs > .full-width, .navbar > .full-width, section > .full-width,
footer > .full-width {
  grid-column: full-width;
}

body {
  color: #141414;
  font-family: "Gilroy Regular", sans-serif;
}

main {
  min-height: calc(100svh - 2rem);
  margin-top: 4.25rem;
}

.button {
  position: relative;
  z-index: 5;
  font-family: "Gilroy SemiBold", sans-serif;
  min-width: 8.875rem;
  padding: 0.75rem 1.5rem;
  border-radius: 6.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button {
  color: white;
  background-color: #0065fe;
}

.button--outline {
  color: #0065fe;
  background-color: transparent;
  border: 1px solid #0065fe;
}

.button--naked {
  color: #0065fe;
  background-color: transparent;
  min-width: fit-content;
}

.button--lg {
  min-width: 12.5rem;
  padding-block: 0.875rem;
}

.button:hover {
  color: white;
  background-color: rgb(50, 131.5157480315, 255);
}
.button:active {
  transform: scale(0.98);
}
.button--outline:hover {
  background-color: #0065fe;
}
.button--naked:hover {
  color: #0065fe;
  background-color: rgb(228.5, 239.0374015748, 255);
}
.section__heading {
  position: relative;
  z-index: 5;
  font-family: "Gilroy Bold", sans-serif;
  font-size: 1.875rem;
  line-height: 120%;
}
@media (min-width: 768px) {
  .section__heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .section__heading {
    font-size: 2.5rem;
  }
}
.section__heading span {
  color: #005ae2;
}
.section__heading--stroke {
  padding-left: 1.25rem;
  padding-bottom: 0.25rem;
  font-size: 2.5rem;
}
.section__heading--stroke::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: 0;
  width: 5px;
  background: linear-gradient(180deg, #112232 0%, rgba(77, 107, 136, 0) 100%);
}

.nav__buttons, .nav__links {
  display: none;
}
@media (min-width: 1024px) {
  .nav__buttons, .nav__links {
    display: inherit;
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  font-family: "Gilroy Medium", sans-serif;
  transition: background-color 0.3s ease, border-color 0.3s ease, border-width 0.3s ease;
}
.navbar--scrolled {
  background-color: #fff;
  border-bottom: 1px solid #D6D6D6;
}

.logo {
  min-width: 9.5rem;
}

.nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  padding-block: 0.75rem;
}
.nav__links {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.nav__links li {
  transition: color 0.2s ease-in-out;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.nav__links li:hover {
  color: #0065fe;
}
.nav__links--mobile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: flex;
  width: 100%;
}
.nav__links--mobile li {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1.25rem;
}
.nav__links--mobile li:nth-of-type(2) {
  margin-left: 1.5rem;
}
.nav__buttons {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav__buttons--mobile {
  display: block;
}
.nav__hamburger {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  width: 2.25rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 0.5rem;
}
@media (min-width: 1024px) {
  .nav__hamburger {
    display: none;
  }
}
.nav__hamburger span {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 0.2rem;
  background-color: #112232;
  border-radius: 0.125rem;
}
.nav__hamburger span::before, .nav__hamburger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  transition: transform 0.2s ease-in-out;
}
.nav__hamburger span::before {
  transform: translateY(-0.5rem);
}
.nav__hamburger span::after {
  transform: translateY(0.5rem);
}
.nav__mobile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
  position: absolute;
  top: 120%;
  z-index: 10;
  transform: translateY(-10px);
  opacity: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border: 1px solid #005ae2;
  border-radius: 0.375rem;
  box-shadow: 0px 15px 35px 0px rgba(43, 64, 78, 0.1), 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@media (min-width: 1024px) {
  .nav__mobile {
    display: none;
  }
}
.nav__mobile__toggle__checkbox:checked ~ .nav__mobile {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.footer {
  position: relative;
  overflow: hidden;
  font-family: "Gilroy Medium", sans-serif;
  padding: 6rem 0 2.5rem 0;
  color: #112232;
}
.footer__blobs img:first-child {
  bottom: 70%;
  left: -50%;
  transform: rotate(70deg);
  opacity: 0.7;
}
@media (min-width: 768px) {
  .footer__blobs img:first-child {
    bottom: 40%;
  }
}
@media (min-width: 1024px) {
  .footer__blobs img:first-child {
    bottom: -70%;
    left: -40%;
    transform: rotate(-30deg);
  }
}
.footer__blobs img:last-child {
  right: -40%;
  bottom: -10%;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .footer__blobs img:last-child {
    right: -40%;
    bottom: -30%;
  }
}
@media (min-width: 1024px) {
  .footer__blobs img:last-child {
    right: -40%;
    bottom: -50%;
    opacity: 0.7;
  }
}
.footer__navigation, .footer__legal {
  position: relative;
  z-index: 10;
}
.footer__navigation {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 2.5rem;
  margin-inline: auto;
  max-width: 65rem;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__navigation {
    margin-bottom: 1.5rem;
    flex-direction: row;
    gap: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__navigation {
    gap: 2.5rem;
  }
}
.footer__navigation > div {
  width: 100%;
}
.footer__icons {
  max-width: 11.5rem;
}
.footer__icons__logo {
  min-width: 9rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__icons__logo {
    margin-bottom: 2rem;
  }
}
.footer__icons__social {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  padding-inline: 0.5rem;
}
@media (min-width: 768px) {
  .footer__icons__social {
    gap: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .footer__icons__social {
    gap: 1.5rem;
  }
}
.footer__icons__social figure {
  min-width: 1.5rem;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}
@media (min-width: 768px) {
  .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0rem;
  }
}
@media (min-width: 1024px) {
  .footer__grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
  }
}
.footer__grid__item {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  width: fit-content;
  line-height: 1.5rem;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .footer__grid__item {
    padding-inline: 1rem;
  }
}
@media (min-width: 1024px) {
  .footer__grid__item {
    padding-inline: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .footer__grid__item:nth-last-child(1) {
    grid-row: 1/span 2;
    grid-column-end: -1;
  }
}
.footer__grid__item li {
  cursor: pointer;
}
.footer__grid__item li:hover {
  color: #0065fe;
}
.footer__legal ul {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-inline: auto;
  width: fit-content;
}
@media (min-width: 768px) {
  .footer__legal ul {
    margin-inline: 0;
    margin-left: auto;
  }
}

input[type=text],
select {
  width: 100%;
  font-size: 0.875rem;
  padding: 1.125rem 1.5rem;
  border: 1px solid #0065fe;
  border-radius: 0.75rem;
  outline: none;
  position: relative;
  background-color: transparent;
}
input[type=text]:focus,
select:focus {
  outline: 1px solid #0065fe;
}
input[type=text]::placeholder, input[type=text]:invalid,
select::placeholder,
select:invalid {
  color: #0065fe;
  font-size: 0.875rem;
}

input[type=checkbox] {
  visibility: hidden;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

option {
  color: #112232;
}

.form__field {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  position: relative;
  min-height: 3.45rem;
}
.form__field .select__button {
  position: absolute;
  top: 1.125rem;
  right: 1.25rem;
}

.accordion {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 49.5rem;
  margin-top: -1rem;
}
.accordion__item {
  font-weight: 400;
  border-bottom: 1px solid #D6D6D6;
  overflow: hidden;
}
.accordion__item[open] > summary::after {
  content: "";
  background-image: url("../assets/svgs/minus-icon.svg");
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.accordion__item[open] .accordion__content {
  opacity: 1;
  padding-bottom: 1rem;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}
.accordion__summary {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  padding: 2rem 2rem 1rem 0;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.accordion__summary::after {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0.5rem;
  background-image: url("../assets/svgs/plus-icon.svg");
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}
.accordion__summary::marker {
  content: "";
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__content {
  font-size: 0.875rem;
  line-height: 200%;
  padding: 0;
  overflow: hidden;
  transition: padding 0.3s ease;
}
@media (min-width: 768px) {
  .accordion__content {
    font-size: 1rem;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.aurora {
  position: absolute;
  top: 5%;
  z-index: -1;
  width: 12.444rem;
  height: 13.4425rem;
  filter: blur(350px);
  flex-shrink: 0;
}
.aurora--red {
  z-index: -2;
  background-color: #d60505;
}
.aurora--green {
  left: 50%;
  top: 10%;
  transform: translateX(-30%);
  background-color: #067808;
}
.aurora--yellow {
  right: 0;
  transform: translateX(-30%);
  background-color: #eac81f;
  border-radius: 18rem;
}

.blobs {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.blobs img {
  position: absolute;
}

.hero {
  align-content: space-between; /* FOR THE CONTENT GRID LAYOUT IN THE ROOT SCSS */
  min-height: calc(100svh - 4.25rem);
  padding-top: 6.625rem;
}
.hero__container {
  max-width: 59.25rem;
  margin-inline: auto;
  text-align: center;
}
.hero__headline {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 1.875rem;
  line-height: 150%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero__headline {
    font-size: 2.5rem;
    line-height: 175%;
  }
}
@media (min-width: 1024px) {
  .hero__headline {
    font-size: 3rem;
    line-height: 200%;
  }
}
.hero__headline span {
  color: #005ae2;
  position: relative;
}
.hero__headline span img {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__headline__sub {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 1.125rem;
  line-height: 155%;
  max-width: 50rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .hero__headline__sub {
    font-size: 1.25rem;
  }
}
.hero__buttons {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.hero__visual {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  padding-top: 3.5rem;
}
.hero__visual__top {
  padding-right: 1.5rem;
  max-width: 52.0625rem;
}
@media (min-width: 1280px) {
  .hero__visual__top {
    max-width: 45%;
  }
}
.hero__visual__bottom {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.hero__visual__bottom__ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66.5%;
  height: 52.7%;
  margin: auto;
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(226, 233, 240, 0.7) 10.68%, rgba(220, 228, 235, 0.7) 44.01%, rgba(226, 233, 240, 0) 100%);
  box-shadow: 0px 4px 4px 0px rgba(18, 36, 89, 0.35);
}
.hero__visual__bottom svg {
  width: 100%;
  height: auto;
  display: block;
}

.stats {
  background-color: #f9fbfd;
}
.stats__container {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 3.75rem;
}
@media (min-width: 768px) {
  .stats__container {
    align-items: center;
  }
}
.stats__details {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
@media (min-width: 768px) {
  .stats__details {
    flex-direction: row;
  }
}
.stats__details > div h3 {
  font-family: "Gilroy SemiBold", sans-serif;
  font-size: 2rem;
  line-height: 125%;
  margin-bottom: 0.25rem;
}
.stats__details > div p {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .stats__details {
    gap: 4.5rem;
  }
}

.features {
  padding-block: 6rem;
  font-family: "Gilroy Medium", sans-serif;
}
@media (min-width: 1024px) {
  .features {
    padding-block: 8rem;
  }
}
.features__container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}
@media (min-width: 1024px) {
  .features__container {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .features__container {
    gap: 6rem;
  }
}
.features__header {
  width: 100%;
}
@media (min-width: 1024px) {
  .features__header {
    max-width: 25rem;
  }
}
.features__header h2 {
  margin-bottom: 1rem;
}
.features__header p {
  line-height: 175%;
}
@media (min-width: 768px) {
  .features__header p {
    padding-left: 1.75rem;
  }
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 21.25rem));
  gap: 3rem;
}
@media (min-width: 768px) {
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1.75rem;
  }
}
.features__grid__item figure {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 3.5rem;
  aspect-ratio: 1/1;
  background-color: rgba(50, 132, 255, 0.13);
  margin-bottom: 2.5rem;
  border-radius: 3.5rem;
  overflow: hidden;
}
.features__grid__item h3 {
  font-family: "Gilroy SemiBold", sans-serif;
  font-size: 2rem;
  line-height: 87.5%;
  margin-bottom: 1rem;
}
.features__grid__item p {
  line-height: 150%;
}

.pricing__card__list li::before, .pricing__card:first-child li::before, .pricing__card:last-child li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1rem;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing {
  padding: 2.625rem 0 7rem 0;
  justify-items: center;
  row-gap: 2.5rem;
}
@media (min-width: 1024px) {
  .pricing {
    row-gap: 4.25rem;
  }
}
.pricing__header p {
  max-width: 34.75rem;
  margin-top: 1.5rem;
}
@media (min-width: 640px) {
  .pricing__header p {
    text-align: center;
    margin-top: 0.5rem;
  }
}
.pricing__cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
@media (min-width: 1024px) {
  .pricing__cards {
    flex-direction: row;
  }
}
.pricing__card {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  min-width: 20rem;
  padding: 1.5rem 2.5rem 2.75rem 2.5rem;
  border: 1px solid #005ae2;
}
@media (min-width: 1024px) {
  .pricing__card {
    padding: 1.5rem 4rem 2.75rem 4rem;
  }
}
.pricing__card:first-child li::before, .pricing__card:last-child li::before {
  background-image: url("../assets/svgs/check-circle-primary.svg");
}
.pricing__card:first-child {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom: none;
}
@media (min-width: 1024px) {
  .pricing__card:first-child {
    padding-right: 3rem;
    border-right: none;
    border-bottom: 1px solid #005ae2;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.75rem;
  }
}
.pricing__card:last-child {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-top: none;
}
@media (min-width: 1024px) {
  .pricing__card:last-child {
    padding-left: 3rem;
    border-top: 1px solid #005ae2;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
.pricing__card--spotlight {
  color: #fff;
  min-width: 22rem;
  padding: 6rem 3rem 9.25rem 3rem;
  border: none;
  border-radius: 0.75rem;
  background: var(--Linear-gradient, linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%));
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
  .pricing__card--spotlight {
    min-width: 24rem;
  }
}
@media (min-width: 1024px) {
  .pricing__card--spotlight {
    padding: 6rem 4rem 9.25rem 4rem;
  }
}
.pricing__card__tag {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 133.33%;
  font-weight: 400;
}
@media (min-width: 768px) {
  .pricing__card__tag {
    font-size: 1.5rem;
  }
}
.pricing__card__header h4 {
  font-family: "Gilroy Bold", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 0.25rem;
}
@media (min-width: 768px) {
  .pricing__card__header h4 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}
.pricing__card__header p {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 1.125rem;
  line-height: 160%;
  font-weight: 400;
}
@media (min-width: 768px) {
  .pricing__card__header p {
    font-size: 1.25rem;
  }
}
.pricing__card__list {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
  font-family: "Gilroy Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 160%;
  font-weight: 400;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .pricing__card__list {
    gap: 1.5rem;
  }
}
.pricing__card__list li {
  position: relative;
  padding-left: 1.5rem;
}
.pricing__card__list li::before {
  background-image: url("../assets/svgs/check-circle.svg");
}
.pricing__buttons {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
@media (min-width: 640px) {
  .pricing__buttons {
    flex-direction: row;
  }
}

.demo {
  position: relative;
  overflow: hidden;
  padding-block: 5.25rem;
  background: var(--Linear-gradient, linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%));
}
.demo__blobs img:first-child {
  top: -30%;
  left: -50%;
  transform: rotate(8deg);
  opacity: 0.5;
}
@media (min-width: 1024px) {
  .demo__blobs img:first-child {
    top: -100%;
    left: -50%;
  }
}
.demo__blobs img:last-child {
  right: -40%;
  bottom: -50%;
  opacity: 0.5;
}
@media (min-width: 1024px) {
  .demo__blobs img:last-child {
    right: -45%;
    bottom: -150%;
    opacity: 0.7;
  }
}
.demo__form {
  width: 100%;
  max-width: 29.75rem;
  padding: 2.25rem 2rem;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 0.75rem;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .demo__form {
    padding: 2.625rem;
  }
}
.demo__form__container {
  display: grid;
  gap: 0.75rem;
}
@media (min-width: 768px) {
  .demo__form__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 0.75rem;
  }
}
@media (min-width: 768px) {
  .demo__form__field--span {
    grid-column: span 2;
  }
}
.demo__form__submit {
  width: 100%;
  margin: 1.5rem 0 0.75rem 0;
}
.demo__form__disclaimer {
  font-family: "Gilroy Medium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #3284ff;
  padding: 0.625rem;
}
.demo__form__disclaimer span {
  color: #4991ff;
  font-family: "Gilroy Bold", sans-serif;
}

.faqs {
  position: relative;
  overflow: hidden;
  padding-block: 6rem;
  justify-items: center; /* CENTER ITEM IN CONTENT GRID */
  row-gap: 4rem;
}
.faqs__blobs img:first-child {
  left: -60%;
  inset-block: 0;
  transform: rotate(50deg);
  opacity: 0.5;
}
@media (min-width: 768px) {
  .faqs__blobs img:first-child {
    left: -45%;
    transform: rotate(4deg);
  }
}
.faqs__blobs img:last-child {
  right: -50%;
  bottom: -10%;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .faqs__blobs img:last-child {
    right: -40%;
    bottom: -20%;
  }
}

.cta {
  position: relative;
  overflow: hidden;
  justify-items: center; /* CENTER ITEM IN CONTENT GRID */
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  padding: 5rem 0 3.5rem 0;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .cta {
    padding: 6.5rem 0 3.5rem 0;
    row-gap: 3rem;
  }
}
.cta__blobs img:first-child {
  top: -60%;
  left: -50%;
  transform: rotate(8deg);
  opacity: 0.7;
}
@media (min-width: 768px) {
  .cta__blobs img:first-child {
    top: -130%;
    left: -50%;
  }
}
@media (min-width: 1024px) {
  .cta__blobs img:first-child {
    top: -170%;
    left: -40%;
  }
}
.cta__blobs img:last-child {
  right: -40%;
  bottom: -60%;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .cta__blobs img:last-child {
    right: -40%;
    bottom: -140%;
  }
}
@media (min-width: 1024px) {
  .cta__blobs img:last-child {
    right: -45%;
    bottom: -150%;
    opacity: 0.7;
  }
}